.homeAbout {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-around;
  margin-top: 30px;
}

.homeAbout__cart {
  display: flex;
  gap: 20px;
  align-items: center;
  border: 1px solid #e4e7e9;
  padding: 30px;
  border-radius: 8px;
}

.homeAbout__cart img {
    width: 60px;
}

.homeAbout__cart__text {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.homeAbout__cart__text h3 {
    font-weight: 500;
    font-size: 25px;
}

.homeAbout__cart__text p {
    color: #5F6C72;
    font-weight: 400;
    font-size: 20px;
}